@media (max-width: 1200px) {
    :root {
        --banner-para: 0.9rem;
    }

    .primary-btn {
        font-size: 0.9rem;
    }


}


@media (max-width: 1068px) {

    :root {
        --banner-heading: 2.5rem;
        --banner-para: 0.8rem;
        --layer-f: 2.5rem;
    }
    
    /* content box */

    .content span {
        font-size: 0.8rem;
    }

    .content .banner-para {
        padding-right: 100px;
    }

    .content-box {
        justify-content: flex-start;
        padding-left: 16%;
    }

    .content {
        width: 70%;
    }

    /* blog card */

    .blog-card {
        height: 250px;
    }


}


@media (max-width: 900px) {

    .primary-btn {
        font-size: 0.8rem;
    }

    .cell1::before, 
    .cell2::before,
    .cell3::before,
    .cell4::before,
    .cell5::before
    {
        font-size: 0.7rem;
        padding: 0%;
    }

    .logo {
        font-size: 1.3rem;
    }

    .blog-card {
        height: 200px;
    }
}

@media (max-width: 768px) {

    .primary-btn {
        font-size: 0.7rem;
    }

    /* nav bar */

    .navbar {
        padding-left: 5%;
        padding-right: 5%;
    }

    .nav-icon {
        width: 25px;
        height: 20px;
    }

    .line2 {
        margin-top: 5px;
    }

    .line3 {
        margin-top: 5px;
    }

    /* content section */

    .content-box {
        padding-left: 5%;
    }

    .content span {
        font-size: 0.7rem;
    }

    .content .banner-para {
        font-size: 0.8rem;
    }

    .content .banner-heading {
        font-weight: 600 !important;
    }

    /* about section */

    .about-box {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .about-box .about-left, .about-box .about-right {
        width: 68% !important;
    }

    .about-left p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .about-right .progress-bars {
        padding-left: 0%;
        margin-top: 50px;
    }

    .progress-bars p {
        font-size: 0.8rem;
    }

    /* portfolio section */

    .portfolio-container {
        flex-direction: column;
        align-items: center !important;
    }

    .portfolio-left, .portfolio-right {
        width: 68% !important;
    }

    .portfolio-box a {
        font-size: 0.9rem;
    }

    .btn-box {
        margin-top: 50px;
    }

    /* quote section */

    .quote {
        width: 68%;
        padding: 50px 0;
    }

    .quote h1 {
        font-size: 2rem;
    }

    .quote p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .quote span {
        font-size: 0.8rem;
    }

    .quote::before, .quote::after {
        width: 100px;
        height: 100px;
    }

    /* achievement section */



    .achievements .achievement {
        width: 45%;
    }

    .achievement p {
        font-size: 0.8rem;
    }

    .achievement span {
        font-size: 0.7rem;
    }

    /* blogs section */

    #blogsWrapper {
        padding: 100px 8%;
    }

    .blog-cards {
        justify-content: center;
        gap: 30px;
    }

    .blog-card {
        width: 45%;
        height: 300px;
    }

    .blog-content p{
        font-size: 1rem;
    }

    .blogs-link a {
        font-size: 0.7rem;
    }

    /* testimonials section */

    #testimonialWrapper {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
    }

    .owl-testimonial {
        padding-left: 50px;
        padding-right: 50px;
    }

    .testimonial-items p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .user .user-img {
        width: 30px;
        height: 30px;
    }

    .user span {
        font-size: 0.6rem;
    }


    /* subscribe section */

    #subscribeWrapper h1 {
        font-size: 1.3rem;
    }

    .subscribe {
        gap: 30px;
    }

    .s-box-2, .s-box-3 {
        padding-left: 10px;
    }

    .subscribe-box {
        width: 45% !important;
    }

    .s-box-2, .s-box-3 {
        padding: 0;
    }

    .subscribe-box button {
        font-size: 0.7rem;
    }

    .subscribe-box form div input {
        font-size: 0.7rem;
    }

    .subscribe-box p {
        font-size: 0.7rem;
    }

    .subscribe-box ul li {
        line-height: 1.5rem;
    }

    .subscribe-box ul li a{
        font-size: 0.7rem;
    }

    .subscribe-box .gmail {
        font-size: 1rem;
    }

    /* footer section */

    .footer .footer-left a {
        padding-right: 10px;
    }

    .footer .footer-left a i {
        font-size: 0.7rem;
    }

    .footer-right {
        font-size: 0.7rem;
    }

}

@media (max-width: 521px) {
    
    .content .banner-heading {
        font-size: 2.2rem;
        line-height: 2rem;
    }

    /* about section */

    #aboutWrapper {
        padding: 50px 20px 0;
    }

    .about-box {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .about-box .about-left, .about-box .about-right {
        width: 90% !important;
    }

    .about-left p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .about-right .progress-bars {
        padding-left: 0%;
        margin-top: 50px;
    }

    .progress-bars p {
        font-size: 0.8rem;
    }

    /* quote section */

    #quoteWrapper {
        margin-top: 0 !important;
    }

    .quote {
        width: 75%;
        padding: 50px 0;
    }

    .quote::before, .quote::after {
        width: 50px !important; 
        height: 50px !important;
    }

    .quote::before {
        top: 30px;
        left: 5px;
    }

    .quote::after {
        bottom: 40px;
    }

    .quote h1 {
        font-size: 1.5rem;
    }

    .quote p {
        font-size: 0.7rem;
        line-height: 1.2rem;
    }

    .quote span {
        font-size: 0.8rem;
    }


    /* portfolio section */

    #portfolioWrapper {
        padding: 50px 20px;
    }

    .portfolio-left, .portfolio-right {
        width: 90% !important;
    }

    /* blogs section */

    #blogsWrapper {
        padding: 100px 8%;
    }

    .blog-cards {
        justify-content: center;
        gap: 30px;
    }

    .blog-card {
        width: 90%;
        height: 300px;
    }


     /* achievement section */

     #achievementWrapper {
        padding-top: 50px;
     }

     /* blogs section */

     #blogsWrapper {
        padding-top: 50px;
     }

     /* testimonial section */

     #testimonialWrapper {
        padding-top: 50px;
     }

     /* subscribe section */

     .s-box-1 {
        width: 100% !important;
     }


    .achievements .achievement {
        width: 90%;
    }


    #footerWrapper {
        padding: 20px 5px;
    }

    .footer .footer-left a {
        padding-right: 5px;
    }
}

@media (max-width: 450px) {

    /* content section */
    .content {
        width: 95%;
    }

    .content-box {
        padding-left: 5%;
    }

    .content span {
        font-size: 0.6rem;
    }

    .content .banner-para {
        font-size: 0.7rem;
        padding-right: 50px !important;
    }

    .content .banner-heading {
        font-weight: 600 !important;
        font-size: 1.8rem;
    }

    /* quote section */

    .quote {
        width: 80%;
        padding: 50px 0;
    }

    .quote::before, .quote::after {
        width: 40px !important; 
        height: 40px !important;
    }

    .quote::before {
        top: 10px;
        left: 2px;
    }

    .quote::after {
        bottom: 20px;
    }

    .quote h1 {
        font-size: 1.3rem;
    }

    .quote p {
        font-size: 0.6rem;
        line-height: 1.2rem;
    }

    .quote span {
        font-size: 0.6rem;
    }

    .testimonial-items p {
        font-size: 0.7rem;
    }

}